<?xml version="1.1" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.1//EN"
   "http://www.apple.com/DTDs/PropertyList-1.1.dtd">
<plist version="1.1">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://transai.onrender.com/TransAI.ipa</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.haruki.TransAI</string>
        <key>bundle-version</key>
        <string>1.0.0</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>TransAI</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
